---
import LanguageSwitch from "./LanguageSwitch.astro";
const { lang } = Astro.props;
const navTitle = {
  en: {
    home: "Home",
    doc: "Doc",
    about: "About Us",
  },
  cn: {
    home: "首页",
    doc: "文档",
    about: "关于我们",
  },
};
---

<!-- 顶部导航 -->
<div class="nav-links">
  <div style="display: flex; align-items: center" class="right">
    <div class="logo">
      <img src=`${import.meta.env.BASE_URL}/Logo.png` alt="" />
    </div>
    <div class="links">
      <a href="#home">{navTitle[lang].home}</a>
      <a href="#about">{navTitle[lang].doc}</a>
      <a href="#team">{navTitle[lang].about}</a>
    </div>
  </div>
  <div class="language">
    <a class="github" href="https://github.com/NII-o9i2" target="_blank">
      <img src=`${import.meta.env.BASE_URL}/GitHub.svg` alt="github icon" />
    </a>
    <LanguageSwitch lang={lang} />
  </div>
</div>

<style>
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    height: 60px;
    width: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 99;
  }
  .nav-links.fold {
    left: 0px !important;
  }
  .logo {
    width: 32px;
    height: 32px;
    margin-right: 50px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 260px;
    font-size: 14px;
    font-weight: bold;
  }
  .links a {
    position: relative;
    padding: 10px 14px;
    border-radius: 10px;
  }
  .links a::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 0;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(12, 79, 254, 0.6);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  .links a:hover::after {
    width: 100%;
  }

  .language {
    display: flex;
    align-items: center;

  }

  .github {
    width: 30px;
    margin-right: 16px;
    transition: all 0.2s ease-in-out;
  }
  .github:hover {
    transform: scale(1.05);
  }
</style>
